<div class="label-danger">
  <h2>DEPRECATION WARNING</h2>
  <p>
    This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
  </p>
</div>
<div class="example-sub-header">
  <h3><%= example['description'] %><br><%= render partial: 'channels', locals: {channels: channels} %></h3>
</div>
<%= render partial: 'explanation',    locals: {explaination: example['explanation']} if example['explanation'] %>
<%= render partial: 'params',         locals: {params: example['parameters']} if example['parameters'].size > 0 %>
<hr/>
<% example['requests'].each_with_index do |request, index| %>
  <div id="<%= "request-#{index}" %>">
    <h3><%= t(:request) %></h3>
    <div class="request">
      <%= render partial: 'route',    locals: {request: request, index: index} %>
      <%= render partial: 'headers',  locals: {request: request, index: index, headers: request['request_headers']} %>
      <%= render partial: 'query',    locals: {request: request, index: index} unless request['request_query_parameters'].empty? %>
      <%= render partial: 'body',     locals: {request: request, index: index, body: request['request_body'], type: request['request_content_type']} if request['request_body'] %>
      <%= render partial: 'curl',     locals: {request: request, index: index} if request['curl'] %>
    </div>

    <h3><%= t(:response) %></h3>
    <div class="response">
      <% if example['response_fields'] && example['response_fields'].size > 0 %>
        <%= render partial: 'response_fields',  locals: {params: example['response_fields']} %>
      <% end %>
      <%= render partial: 'status',   locals: {request: request, index: index} %>
      <%= render partial: 'headers',  locals: {request: request, index: index, headers: request['response_headers']} %>
      <%= render partial: 'body',     locals: {request: request, index: index, body: request['response_body'], type: request['response_content_type']} if request['response_body'] %>
    </div>
  </div>
<% end %>
