<header class="navbar navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <h1 class="navbar-brand"><a href="<%= Apitome.configuration.mount_at %>">
        <%= Apitome.configuration.title %> (<%= AppConfig.settings['version'] %>)</a>
      </h1>
    </div>
  </div>
</header>
