<section id="login-widget" class="login widget">
  <h4>Log into your account to see available documentation.</h4>
  <% if flash[:notice] %>
    <p class="text-warning">Invalid credentials.</p>
  <% end %>
  <%= form_for(:account) do |f| %>
    <%= f.label :email %>:
    <%= f.text_field :email %>
    <%= f.label :password %>:
    <%= f.password_field :password %>
    <p>
      <%= f.submit 'Sign in', class: "login-submit" %>
    </p>
  <% end %>
</section>
