<% if @authorized_resources %>
  <ul class="nav sidenav">
    <li class="example about-us">
      <a href="#readme">About Us</a>
    </li>
    <li class="example best-practices">
      <a href="#readme">Best Practices</a>
      <ul class="nav">
        <li class="example best-practices"><a href="#authentication">Authentication</a></li>
        <li class="example best-practices"><a href="#images">Images</a></li>
        <li class="example best-practices"><a href="#caching">Caching</a></li>
        <li class="example best-practices"><a href="#examples">Examples</a></li>
      </ul>
    </li>
    <% @authorized_resources.each do |resource| %>
      <li class="example <%= resource['name'] %>">
          <a href="#<%= id_for(resource['examples'].first['link']) %>"><%= resource['name'] %></a>
          <ul class="nav">
            <% resource['examples'].each do |example| %>
              <li class="example"><%= link_to example['description'], "##{id_for(example['link'])}" %></li>
            <% end %>
          </ul>
      </li>
    <% end %>
  </ul>
<% end %>
