<article id="defaults" class="example about-us">
  <div class="label-danger">
    <h2>DEPRECATION WARNING</h2>
    <p>
      This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
    </p>
  </div>
  <div class="example-sub-header">
    <h3>Defaults and Common Values</h3>
  </div>
  <div>
    <%= render partial: 'apitome/docs/pages/defaults' %>
  </div>
</article>

<article id="authentication" class="example about-us">
  <div class="label-danger">
    <h2>DEPRECATION WARNING</h2>
    <p>
      This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
    </p>
  </div>
  <div class="example-sub-header">
    <h3>Authentication</h3>
  </div>
  <div>
    <%= render partial: 'apitome/docs/pages/authentication' %>
  </div>
</article>

<article id="images" class="example about-us">
  <div class="label-danger">
    <h2>DEPRECATION WARNING</h2>
    <p>
      This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
    </p>
  </div>
  <div class="example-sub-header">
    <h3>Images</h3>
  </div>
  <div>
    <%= render partial: 'apitome/docs/pages/images' %>
  </div>
</article>

<article id="caching" class="example about-us">
  <div class="label-danger">
    <h2>DEPRECATION WARNING</h2>
    <p>
      This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
    </p>
  </div>
  <div class="example-sub-header">
    <h3>Caching</h3>
  </div>
  <div>
    <%= render partial: 'apitome/docs/pages/caching' %>
  </div>
</article>

<article id="examples" class="example about-us">
  <div class="label-danger">
    <h2>DEPRECATION WARNING</h2>
    <p>
      This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
    </p>
  </div>
  <div class="example-sub-header">
    <h3>Examples</h3>
  </div>
  <div>
    <%= render partial: 'apitome/docs/pages/examples' %>
  </div>
</article>
