<section class="params">
  <h3><%= t(:parameters) %></h3>
  <hr/>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <% param_headers(params).each do |title| %>
          <th><%= title %></th>
        <% end %>
      </tr>
      <% params.each do |param| %>
        <tr>
          <td class="name">
            <% if param['scope'] %>
              <%= "#{param['scope']}[#{param['name']}]" %>
            <% else %>
              <%= param['name'] %>
            <% end %>
            <% if param['required'] %>
              <span class="label label-danger required">required</span>
            <% end %>
            <% if param['unique'] %>
              <span class="label label-info unique">unique</span>
            <% end %>
            <% if param['limit'] %>
              <span class="label label-warning unique">limit: <%= param['limit'] %></span>
            <% end %>
          </td>
          <td class="description"><%= param['description'] %></td>
          <% param_extras(params).each do |extra| %>
            <td class="extra"><%= param[extra] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</section>
