<div class="label-danger">
  <h2>DEPRECATION WARNING</h2>
  <p>
    This version of the API has been deprecated. Please view the <a href="https://api.placewise.com/v12" style="color: white">v12 docs</a>.
  </p>
</div>
<section class="readme" id="readme">
    <h2 class="resource-name">
      <%= AppConfig.company['name'] %> API<br/><hr>
      <h4><em>A product from <%= link_to(AppConfig.company['name'], AppConfig.company['url']) %></em></h4>
    </h2>
    <article>
      <%= render partial: 'apitome/docs/pages/about_us' %>
    </article>
    <article>
      <%= render partial: 'apitome/docs/pages/best_practices' %>
    </article>
    <%= render partial: 'pages' %>
    <%= render 'all_examples' if Apitome.configuration.single_page %>
</section>
