Someone requested a password reset for your account. 

To complete the reset, please click <%= link_to "here", @reset_password_url %> or paste the following url into your browser: <%= @reset_password_url %>.

If you did not request this reset, you don't need to do anything.
