<article class="example about-us">
  <p>
    Creating your Center’s website is the foundation of your digital presence. However, the content on your site will determine how informative and engaging your presence is, and whether it will successfully drive in-store traffic. As shoppers increasingly research online before their in-store trips, it is key for retailers and mall operators to have content that drives ‘clicks to bricks’ purchases.
  </p>
  <p>
    From deals and editorial to a fully integrated virtual store experience, <%= AppConfig.company['name'] %> offers the most sophisticated website content options for the shopping center industry.
  </p>
  <p>
    With a network comprised of more than 100 management companies representing more than 700 malls and reaching millions of shoppers, <%= AppConfig.company['name'] %> is the leading provider of digital content services to the shopping center industry.
  </p>
  <p>
    Content API channels include:
  </p>
  <p>
    <ul>
      <li>Deal Channel</li>
      <li>Mall Channel</li>
      <li>Editorial Channel</li>
      <li>Store Experience Channel</li>
    </ul>
  </p>
  <p>
    You can utilize one or more of these channels to meet your content marketing objectives. For more information, contact Jeff Fraser at <%= mail_to(AppConfig.emails['documentation_support'], AppConfig.emails['documentation_support']) %>.
  </p>
</article>
