<p>
  All data requests sent to the PlaceWise API require three fields: a timestamp, the requester&rsquo;s account id or email, and a hash of the timestamp and the authentication_token retrieved from the <%= link_to('accounts/login endpoint', '#accounts-initiate-a-session') %> (see below).
</p>
<p>
  <%= link_to('To get a 24-hour authentication_token','#accounts-initiate-a-session') %>, POST your account[email] and your account[password] to /accounts/login. If the credentials are valid, the data returned will include an authentication_token. This token should be stored locally so that successive requests can incorporate it.
</p>
<p>
	Once you have your authentication_token, you can mint an account_token on each subsequent request. The account_token is an MD5 hash of the current timestamp (ten digits, UTC Unix timestamp) concatenated with a colon and the authentication_token for the session.
</p>
<pre>
md5(timestamp + ":" + authentication_token)
</pre>
For example:
<pre>
md5("1414677461:c5Do0Qmas7sY42_PysZf")
</pre>
Resulting in:
<pre>
d702c5a012d4db205f070d830ce2e9e1
</pre>
<p>
  The final request will include something like: <xmp>?account_id=456789&account_token=0c428b4c3f0e808d0a7d9973c07f9b99&timestamp=1431975251</xmp>
</p>
<p>Note:<ul>
	<li>The timestamp helps protect against anyone intercepting the request and re-playing it.</li>
	<li>The timestamp must be accurate. It must be within <em>several seconds</em> of UTC. A handy site to see the current Unix epoch time is <a href="http://www.epochconverter.com/" target="_blank">www.epochconverter.com</a>.</li>
	<li>The timestamp of every request will be different, and therefore so will the account_token. It must be re-hashed for each data request.</li>
	<li>If more than one system makes valid login requests using the same account credentials, they will all get the same authentication_token. If one of those systems logs out, all the sessions will be ended, and a new authentication_token will need to be requested from accounts/login.</li>
	<li>Any request that is missing any of these fields, or has a timestamp that is too old, or has a malformed account_token will receive a 401 Unauthorized.</li>
	</ul>
</p>
<p>
  For more information and examples, see the <%= link_to('accounts documentation', '#accounts-initiate-a-session') %>.
</p>
