<h4>ETags</h4>
An ETag header is provided in every response. Simply include that value in the next request to that endpoint under the header `If-None-Match`. If nothing has changed, then the API will respond with an empty response body and an HTTP status code of 304. If anything _has_ changed, the ETag will not match, and the API will give you the fresh data.  If we look at the response headers, we'll see 

<pre>
Request:
  URL:  https://api.placewise.com/malls?account_id=456789&account_token=77614adbf5b2a46927c88ba96bc7dbe0&timestamp=1447966447
  HTTP Method:  GET
  
Response:
  Headers:
      Content-Type:  application/json; charset=utf-8
      Status:  200 OK
      X-API-Version:  v9.5.2
      ETag:  "58662806baafea544a42c76644df663b"
      Date:  Thu, 19 Nov 2015 21:53:08 GMT

</pre>
The next time we go to make that request, we just pass along the ETag we received as the value to the If-None-Match header. Since none of the data we would get back has changed, our ETag matches, and we quickly get an empty response with a status of 304, to let us know that our cached data is still up to date.  

<pre>
Request:
  URL:  https://api.placewise.com/malls?account_id=456789&account_token=77614adbf5b2a46927c88ba96bc7dbe0&timestamp=1447966447
  HTTP Method:  GET
  Headers:
      If-None-Match:  "58662806baafea544a42c76644df663b"
  
Response:
  Headers:
      Content-Type:  application/json; charset=utf-8
      Status:  304 Not Modified
      X-API-Version:  v9.5.2
      ETag:  "58662806baafea544a42c76644df663b"
      Date:  Thu, 19 Nov 2015 21:55:18 GMT

</pre>

Using ETags not only means you won't have to accept and parse duplicate data, but it also means that if there's no new data since the last time you checked, you'll get a _much_ quicker response. 
<p>
  In order to optimize bandwidth and efficient use of resources, the PlaceWise API creates ETag headers for every request. An ETag is a cached hash of the body of the results of a response. This hash will change if there is different data to send, but if the API consumer provides the last ETag it last had in the header of the previous request, the API will compare it with its own cache. If the API determines there is different data to send, it will respond with a 200 OK in addition to the data within the body of the message, as usual. However, if it is determined that the data the API consumer already has is no different than that held by the API, the PlaceWise API will respond with 304 Not Modified, and will not return a message body.
</p>
<p>
  If no ETag is provided with the request, the API will proceed as normal, but will generate its own ETag and provide it with the request.
</p>
<p>
  To use ETag functionality, each response should return a has on a header called "ETag". On the same request to the same URL, set the HTTP request header called "ETag" to the last one received. If this is a first request, there is no need to set the ETag header; any string set to that header that isn't an exact hash of the response will return a 200 OK and full response.
</p>

<h4>Since</h4>
<p>
  Use the following URL parameter to retrieve only the results that have been updated since the last request:
</p>
<pre>?since=2015-10-24</pre>
<p>
  This checks the date given against the date when the records have been known to be updated. Only those records that have a newer date in which they have been updated will be returned with the request. Dates are formatted in ISO 8601, UTC:
</p>
<pre>
YYYY-MM-DDTHH:mm:ss.SSSZ
</pre>
<p>
Dates can also be abbreviated to:
</p>
<pre>
YYYY-MM-DD
</pre>
