<p>Many data requests will need to specify some common attributes. Here is a list of attributes that may or may not apply to various requests. It is recommended that all parameters be specified so that changes to default values do not change future results.</p>

<div class="table-responsive">
    <table class="table table-bordered">
      <tbody><tr>
          <th>Parameter</th>
          <th>Default Value</th>
          <th>Limits</th>
          <th>Use</th>
      </tr>

      <tr>
        <td class="parameter_name">
            limit
        </td>
        <td class="default_value">
            10
        </td>
        <td class="limits">1 through 500 (upper limit subject to change)</td>
        <td class="use">
            Limits the number of records returned.
        </td>
      </tr>
      
      <tr>
        <td class="parameter_name">
            offset
        </td>
        <td class="default_value">
            0
        </td>
        <td class="limits"></td>
        <td class="use">
            How many records to skip over before getting to the desired records.
        </td>
      </tr>

    </tbody></table>
  </div>
