<p>
  In order to assist you with connecting to our services we have provided a simple helper file built with <%= link_to('Paw', 'https://luckymarmot.com/paw') %>, a fantastic REST client by Lucky Marmot. In order to use this file, please replace the username and password with your account we created for your portfolio.  Also, each end point will need to use the mall ids provided by your account representative.
</p>
<p>
  Download here: <%= link_to('Placewise API Demo File', '/assets/placewise_api_demo.zip') %>
</p>
