<p>
  Most of the PlaceWise API endpoints offer associated images. Any request to an endpoint for a resource that has an associated image will provide image data alongside the response.
</p>
<p>
  Sample response:
</p>
<p>
<pre>
GET /deals/123456
<code class="json">
{
  "deals": {

  },
  "images": [
    {
      "id": 123456,
      "url": "http://images.shoptopia.com/mcache/{size}/sales/1234/imagename.jpg",
      "size_parameter": "{size}",
      "cached_tag_list": "one-fish, two-fish, red-fish, blue-fish",
      "created_at": "2014-09-29T11:12:29.000Z",
      "updated_at": "2014-10-13T18:32:41.080Z"
    },
    {

    }
  ]
}
</code></pre>
</p>
<p>
  Some records may return an empty array for the resource's images property. This is normal, and means that the record has no images associated with it.
</p>
<p>
  The URL provided will have a token parameter, whose format is provided with the request in the "size_parameter" field. The that token must be replaced within the URL. Acceptable image size formats are:
</p>
<ul>
  <li>widthxheight (width and height), e.g. 100x100</li>
  <li>width (width only), e.g. 100</li>
</ul>
<p>
  The cached tag list is a list of tags, comma-space-separated.
</p>
<p>
  Dates are in ISO8601, UTC, format: YYYY-MM-DDTHH:mm:ss.SSSZ
</p>
