<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>INsider Newsletter</title>
  <meta name="format-detection" content="telephone=no">

  <style type="text/css">
    #outlook a {
      padding:0;
    }
    body {
      width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;
    }
    img {
      outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; margin: 0 auto;
    }
    body {
      color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; padding: 0; margin: 0; text-align: left; line-height: 1.5625;
    }
    body {
      font-size: 16px; line-height: 1.5625;
    }
    a:hover {
      color: #b83e3b !important;
    }
    a:active {
      color: #b83e3b !important;
    }
    a:visited {
      color: #b83e3b !important;
    }
    table.button:hover td {
      background: #b83e3b !important;
    }
    table.button:visited td {
      background: #b83e3b !important;
    }
    table.button:active td {
      background: #b83e3b !important;
    }
    table.button:hover td a {
      color: #ffffff !important;
    }
    table.button:visited td a {
      color: #ffffff !important;
    }
    table.button:active td a {
      color: #ffffff !important;
    }
    table.button:hover td {
      background: #b83e3b !important;
    }
    table.button:hover td a {
      color: #ffffff !important;
    }
    table.button:active td a {
      color: #ffffff !important;
    }
    table.button td a:visited {
      color: #ffffff !important;
    }
    @media only screen and (max-width: 672.41379px) {
      table[class="body"] img {
        width: auto !important; height: auto !important;
      }
      table[class="body"] center {
        min-width: 0 !important;
      }
      table[class="body"] .container {
        width: 90% !important;
      }
      table[class="body"] .row {
        width: 100% !important; display: block !important;
      }
      table[class="body"] .wrapper {
        display: block !important; padding-right: 0 !important;
      }
      table[class="body"] .columns {
        table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
      }
      table[class="body"] table.columns td {
        width: 100% !important;
      }
      table[class="body"] table.columns td.expander {
        width: 1px !important;
      }
      table[class="body"] .hide-for-small {
        display: none !important;
      }
    }
    @media only screen and (max-width: 550px) {
      .container {
        padding: 0 !important;
      }
      .article-image {
        padding: 0 !important;
      }
      .article-image img {
        margin: 0 !important;
      }
      .flex-nav {
        width: 100% !important;
      }
      td[class="nav"] td {
        display: block; padding: 0 !important; min-height: 2px;
      }
      td[class="nav"] a {
        display: block; padding: 10px 0 10px 0; color: #ffffff !important;
      }
    }
  </style>
</head>
<body class="urban" style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; text-align: left; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;">

  <table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;">
   <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;">
      <center style="width: 100%; min-width: 610px;">

        <table class="row pre-header" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; padding: 0px;">
          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
              <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 610px; margin: 0 auto; padding: 0;">
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                  <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="left" valign="top">

                  </td>
                  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                </tr>
                <tr>
<td><center style="width: 100%; min-width: 320px;"><span style="display: block; width: 100%; text-align: center; hyphens: auto; word-wrap: break-word; white-space: pre-wrap; color: ##000000 !important; text-decoration: none;"><span><%= @mall.name %></span></span></center></td>
</tr>
              </table>
            </td>
          </tr>
        </table>

        <table class="container header" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 610px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
              <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                  <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px;" align="left" valign="top">
                    <a href="<%= @mall.url %>insider/" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://placewise.imgix.net/images/api/template_assets/FCE/program-icons/insider-logo.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table class="body-container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;">
          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">

              <table class="container flex-nav" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 610px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                  <td class="nav" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                    <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #b83e3b; padding: 0;">
                      <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                        <a class="hide-for-small" href="<%= @mall.url %>directory/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">DIRECTORY</font>
                        </a>
                      </td>
                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                        <a class="hide-for-small" href="<%= @mall.url %>sales/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">SALES</font></a>
                      </td>
                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                        <a class="hide-for-small" href="<%= @mall.url %>dining/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">DINING</font>
                        </a>
                      </td>
                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                        <a class="hide-for-small" href="<%= @mall.url %>events/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">EVENTS</font>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 610px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff">
                  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                    <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">

                      <table class="row hero" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 100%; position: relative; display: block; padding: 0px;">
                        <tr style="vertical-align: top; text-align: center; padding: 0;" align="center">
                          <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px 0px;" align="center" valign="top">

                            <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 610px; margin: 0 auto; padding: 0;">
                              <tr style="vertical-align: top; text-align: center; padding: 0;" align="center">
                                <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="center" valign="top">

                                </td>
                              </tr>
                            </table>

<!--body content-->

<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="line-height:0em;"><img src="https://placewise.imgix.net/images/api/template_assets/FCE/body-images/YoureIn1.jpg" alt="youre in" border="0"></td>
</tr>
<tr>
<td style="line-height: 0em;"><img src="https://placewise.imgix.net/images/api/template_assets/FCE/body-images/GiftCard21.jpg" alt="gift card promo" border="0"></td>
</tr>
<tr>
<td style="line-height: 5em;"><img src="https://placewise.imgix.net/images/api/template_assets/FCE/body-images/bday_04.png" border="0"><img style="float: right;" src="http://epostcardnew.mallfinder.com/barcodes/<%= @newsletter_user_id %>.gif" alt="barcode" border="0" /></span></td>
</tr>
<tr>
<td style="font-family: arial, 'Lucida Grande', sans-serif; font-size: 20px; color: #888888; line-height: 25px;" align="left" width="610">Name: <%= @account.user.properties['name']['first'] %> <%= @account.user.properties['name']['last'] %><br /> Barcode: <%= @newsletter_user_id %> <br /> Email: <%= @account.email %> <br /> Prize: $20 Gift Card with an $80 Gift Card purchase. <br /> Valid Through: <%= (Date.today.beginning_of_month + 14).next_month %></td>
</tr>
<tr>
<td style="font-family: arial, 'Lucida Grande', sans-serif; font-size: 10px; color: #888888; line-height: 15px;" align="left" width="610"><br />This is NOT the gift card. Government issued photo identification is required. Must be 13 years old to participate. Only one email per person. No sharing of emails. One welcome reward gift card per person with specified purchase. To redeem your gift card, bring this email to the Guest Services desk at <%= @mall.name %>. If no guest services desk, please visit the Mall Management Office</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="line-height: 0em;"><img src="https://placewise.imgix.net/images/api/template_assets/FCE/body-images/StayInTouch.jpg" alt="youre in" border="0"></td>
</tr>
<tr>
<td height="21">&nbsp;</td>
</tr>
<tr>
<td style="padding: 0px; text-align: left;" valign="top" width="610">
<ul>
<li><span style="font-size: small; font-family: arial, helvetica, sans-serif;"><span style="color: #684626;"><strong>A SPECIAL BIRTHDAY SURPRISE</strong></span><span style="color: #333300;"> - <span style="color: #292929;"><em style="color: #888888; font-size: small;">We never forget</em></span></span></span></li>
</ul>
<ul>
<li><span style="color: #888888; font-size: small; font-family: arial, helvetica, sans-serif;"><span style="color: #684626;"><strong>MONTHLY $500 GIFT CARD GIVEAWAYS</strong></span> - <em>A little surprise and delight</em></span></li>
</ul>
<ul>
<li><span style="color: #888888; font-size: small; font-family: arial, helvetica, sans-serif;"><span style="color: #684626;"><strong>EXCLUSIVE DISCOUNTS &amp; OFFERS</strong></span> - <em>INsiders know things</em></span></li>
</ul>
<ul>
<li><span style="color: #888888; font-size: small; font-family: arial, helvetica, sans-serif;"><span style="color: #684626;"><strong>EVENTS</strong></span> - <em>Family fun or date night sizzle</em></span></li>
</ul>
<ul>
<li><span style="color: #888888; font-size: small; font-family: arial, helvetica, sans-serif;"><span style="color: #684626;"><strong>TREND REPORTS</strong> </span>- <em>Fashion at your fingertips</em></span></li>
</ul>
</td>
</tr>
</tbody>
</table>

<!--body content-->

<table class="container flex-nav" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 610px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff">
                              <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                <td class="nav" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                                  <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #b83e3b; padding: 0;">
                                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                                        <a href="<%= @mall.url %>directory/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">DIRECTORY</font>
                                        </a>
                                      </td>
                                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                                        <a href="<%= @mall.url %>sales/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">SALES</font>
                                        </a>
                                      </td>
                                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                                        <a href="<%= @mall.url %>dining/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">DINING</font>
                                        </a>
                                      </td>
                                      <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
                                        <a href="<%= @mall.url %>events/" style="color: #ffffff !important; text-decoration: none;"><font color="#ffffff">EVENTS</font>
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>

                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="container footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 610px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
                  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                    <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
                        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                          <td width="27%" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="left" valign="top"></td>
                          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="center" valign="top">
                            <a href="https://www.facebook.com/<%= @facebook_handle %>" style="color: #484b4d; text-decoration: none;">
                              <img class="center" src="https://placewise.imgix.net/images/api/template_assets/FCE/social-icons/facebook.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
                            </a>
                          </td>
                          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="center" valign="top">
                            <a href="https://twitter.com/<%= @twitter_handle %>" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://placewise.imgix.net/images/api/template_assets/FCE/social-icons/twitter.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
                            </a>
                          </td>
                          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="center" valign="top">
                            <a href="<%= @mall.url %>mobile-club" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://placewise.imgix.net/images/api/template_assets/FCE/social-icons/mobile-club.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
                            </a>
                          </td>
                          <td width="27%" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                  <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                    <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
                      <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                        <td class="more-padding" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top">
                          <a href="<%= @mall.url %>" style="color: #484b4d; text-decoration: none;">
                            <img class="center" src="https://placewise.imgix.net/images/api/template_assets/FCE/mall-logos/<%= @mall.nick_name %>-footer.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" valign="top">
                  <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top">
                        <center style="width: 100%; min-width: 610px;">
                          <span class="center apple-links-white" style="display: block; width: 100%; text-align: center; hyphens: auto; word-wrap: break-word; white-space: pre-wrap; color: #ffffff !important; text-decoration: none;"><%= @mall.address %>, <%= @mall.city %>, <%= @mall.state %>, <%= @mall.zip %> | <a href="tel:<%= phone_with_parens_and_dash(@mall.phone) %>" style="color: #ffffff !important; text-decoration: none;"><%= phone_with_parens_and_dash(@mall.phone) %></a></span>
                        </center>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <table class="container post-footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 610px; background-color: #e4e3e3 !important; margin: 0 auto; padding: 20px;" bgcolor="#e4e3e3 !important">
              <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px 0px;" align="center" valign="top">
                  <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 610px; margin: 0 auto; padding: 0;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            &copy;<%= Date.today.year %> Forest City Enterprises. All rights reserved.<br/>
                      </td>
                    </tr>
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            You received this email because you are registered on<br/>
                         <a href="<%= @mall.url %>" style="color: #484b4d; text-decoration: none;"><%= @mall.url %>.
                         </a>
                         <br/>
                       </td>
                     </tr>
                     <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                       <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            This message was sent to <%= @account.email %> as an opt-in<br/>subscriber to <%= @mall.name %> on <%= @mall.url %>.
                       </td>
                     </tr>
                     <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                       <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            This is an automated message. Please do not reply.<br/>
                       </td>

                     </tr>
                     <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                       <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            <img class="center" src="https://placewise.imgix.net/images/api/template_assets/FCE/mall-logos/forest-city-enterprises.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto;" align="none" />
            <br/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>




      </center>
    </td>
  </tr>
</table>

</body>
</html>
