<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>You're IN!</title>
  <meta name="format-detection" content="telephone=no">



<style type="text/css">
body {
width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;
}
img {
outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;
}
body {
color: #8b8486; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: normal; padding: 0; margin: 0; text-align: left; line-height: 1.5625;
}
body {
font-size: 16px; line-height: 1.5625;
}
a:hover {
color: #b83e3b !important;
}
a:active {
color: #b83e3b !important;
}
a:visited {
color: #b83e3b !important;
}
@media only screen and (max-width: 672.41379px) {
  table[class="body"] img {
    width: auto !important; height: auto !important;
  }
  table[class="body"] center {
    min-width: 0 !important;
  }
  table[class="body"] .container {
    width: 90% !important;
  }
  table[class="body"] .row {
    width: 100% !important; display: block !important;
  }
  table[class="body"] .wrapper {
    display: block !important; padding-right: 0 !important;
  }
  table[class="body"] .columns {
    table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
  }
  table[class="body"] table.columns td {
    width: 100% !important;
  }
  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }
  table[class="body"] .hide-for-small {
    display: none !important;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    padding: 0 !important;
  }
  .article-image {
    padding: 0 !important;
  }
  .article-image img {
    margin: 0 !important;
  }
  .flex-nav {
    width: 100% !important;
  }
  td[class="nav"] td {
    display: block; padding: 0 !important; min-height: 2px;
  }
  td[class="nav"] a {
    display: block; padding: 10px 0 10px 0; color: #ffffff !important;
  }
}
</style>
</head>
<body class="lifestyle" style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; text-align: left; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;">


  <table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;">
   <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;">
      <center style="width: 100%; min-width: 650px;">

        <table class="row pre-header" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; padding: 0px;">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 650px; margin: 0 auto; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="left" valign="top">

          </td>
          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
        </tr>
        <tr>
<td><center style="width: 100%; min-width: 320px;"><span style="display: block; width: 100%; text-align: center; hyphens: auto; word-wrap: break-word; white-space: pre-wrap; color: ##000000 !important; text-decoration: none;"><span><%= @mall.name %></span></span></center></td>
</tr>
      </table>
    </td>
  </tr>
</table>


        <table class="container header" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 650px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px;" align="left" valign="top">
            <a href="<%= @mall.url %>/register/" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/program-icons/insider-logo.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


        <table class="body-container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;">
          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">


<table class="container flex-nav" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 650px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="nav" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #b83e3b; padding: 0;">
      <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a class="hide-for-small" href="<%= @mall.url %>/directory/" style="color: #ffffff !important; text-decoration: none;">DIRECTORY</a>
          </td>
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a class="hide-for-small" href="<%= @mall.url %>/sales/" style="color: #ffffff !important; text-decoration: none;">SALES</a>
          </td>
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a class="hide-for-small" href="<%= @mall.url %>/dining/" style="color: #ffffff !important; text-decoration: none;">DINING</a>
          </td>
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a class="hide-for-small" href="<%= @mall.url %>/events/" style="color: #ffffff !important; text-decoration: none;">EVENTS</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 650px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">

      <table class="row hero" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">

            <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 650px; margin: 0 auto; padding: 0;">
              <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                  <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/body-images/FCE_0009_IN+the+know.jpg" width="650" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: 100%; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto;" align="none" />
                </td>
                <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td class="hero-article" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top">
            <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 1.6rem; font-weight: 700; line-height: 1.25; color: #484b4d; margin: 0;">We want to say THANKS for becoming an INsider.</h1>
            <p style="color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; text-align: left; line-height: 1.5625; font-size: 16px; hyphens: auto; word-wrap: break-word; white-space: pre-wrap; margin: 0; padding: 0;" align="left">
              You’re now signed up to receive <%= @mall.name %> INsider emails.

              You will also be entered to win a $500 gift card. Good luck!
              This isn’t a one-time thing. Keep an eye on your inbox for:
              <ul style="list-style: none;">
                <li>A special birthday surprise – We never forget.</li>
                <li>Monthly $500 gift card giveaways – A little surprise and delight.</li>
                <li>Exclusive discounts & offers – Insiders know things.</li>
                <li>Events – Family fun or date night sizzle.</li>
                <li>Trend reports – Fashion at your fingertips.</li>
              </ul>
              Warm regards,<br>
              <%= @mall.name %>
            </p>
          </td>
          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
        </tr>
      </table>

      <hr style="color: #ffffff; background-color: #d8d6d6 !important; height: 1px; border: none;" />

    </td>
  </tr>

</table>

<table class="container flex-nav" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 650px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="nav" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #b83e3b; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a href="<%= @mall.url %>/directory/" style="color: #ffffff !important; text-decoration: none;">DIRECTORY</a>
          </td>
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a href="<%= @mall.url %>/sales/" style="color: #ffffff !important; text-decoration: none;">SALES</a>
          </td>
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a href="<%= @mall.url %>/dining/" style="color: #ffffff !important; text-decoration: none;">DINING</a>
          </td>
          <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 5px 10px;" valign="top">
            <a href="<%= @mall.url %>/events/" style="color: #ffffff !important; text-decoration: none;">EVENTS</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



            </td>
          </tr>
        </table>

        <table class="container footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 650px; background-color: #ffffff !important; margin: 0 auto; padding: 0;" bgcolor="#ffffff !important">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td width="27%" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="left" valign="top"></td>
          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="center" valign="top">
            <a href="https://www.facebook.com/<%= @facebook_handle %>" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/social-icons/facebook.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
            </a>
          </td>
          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="center" valign="top">
            <a href="https://twitter.com/<%= @twitter_handle %>" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/social-icons/twitter.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
            </a>
          </td>
          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0 10px;" align="center" valign="top">
            <a href="<%= @mall.url %>/go/mobile/mobileclub/" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/social-icons/mobile-club.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
            </a>
          </td>
          <td width="27%" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td class="more-padding" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top">
            <a href="<%= @mall.url %>" style="color: #484b4d; text-decoration: none;">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/mall-logos/<%= @mall.nick_name %>-footer.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto; border: none;" align="none" />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 0;" valign="top">
      <table width="100%" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: #d0c047; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 20px 0;" align="left" valign="top">
            <center style="width: 100%; min-width: 650px;">
              <span class="center apple-links-white" style="display: block; width: 100%; text-align: center; hyphens: auto; word-wrap: break-word; white-space: pre-wrap; color: #ffffff !important; text-decoration: none;"><%= @mall.address %>, <%= @mall.city %>, <%= @mall.state %>, <%= @mall.zip %> | <a href="tel:<%= phone_with_parens_and_dash(@mall.phone) %>" style="color: #ffffff !important; text-decoration: none;"><%= phone_with_parens_and_dash(@mall.phone) %></a></span>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


        <table class="container post-footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 650px; background-color: #e4e3e3 !important; margin: 0 auto; padding: 20px;" bgcolor="#e4e3e3 !important">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
    <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px 0px;" align="center" valign="top">
      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 650px; margin: 0 auto; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td class="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            ©<%= Time.now.year %> <%= @mall.company.name %>. All rights reserved.<br/>
          </td>
        </tr>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            You received this email because you are registered on<br/>
            <a href="<%= @mall.url %>" style="color: #484b4d; text-decoration: none;"><%= @mall.url %>.</a>
            <br/>
          </td>
        </tr>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            This message was sent to <%= @account.email %> as an opt-in<br/>subscriber to <%= @mall.name %> on <%= @mall.url %>. If you do not wish to receive emails of this type, please <a href="http://www.placewisemail.com/unsubscribe.cfm?email=<%= @account.email %>&mallid=<%= @mall.id %>" target="_blank">follow this link to unsubscribe.</a>
          </td>
        </tr>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            This is an automated message. Please do not reply.<br/>
          </td>

        </tr>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #8b8486; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: normal; line-height: 1.5625; font-size: 16px; margin: 0; padding: 10px 0px;" align="center" valign="top">
            <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/mall-logos/forest-city-enterprises.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: block; text-align: center; margin: 0 auto;" align="none" />
            <br/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


      </center>
    </td>
  </tr>
</table>

</body>
</html>
